body {
    background-color: lightgoldenrodyellow;
}

h4 {
    font-size: 30px;
    text-decoration-line: underline;
    margin-left: 340px;
    background-color: lightsalmon;
    width: 470px;
    height: 50px;
    margin-top: 20px;
    border-radius: 12px;
}

table {
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 18px;
    font-family: sans-serif;
    min-width: 600px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-top:50px;
}

table tr {
    border: 3px solid black;
    background-color: antiquewhite;
}

table th {
    background-color: aquamarine;
    text-align: center;
}

table input[type=submit] {
    color: lightsalmon;
    width: 100%;
    background-color: whitesmoke;
    border: 3px solid aquamarine;
    border-radius: 10px;
}
table input[type=submit]:hover {
    background-color: rgb(0, 255, 212);
}