body {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: sans-serif;
}

h4 {
    color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
}

table {
    border: 5px solid wheat;
    text-align: center;
    max-width: 100%;
    margin: 0 auto 10px; /*centriranje tabele*/
    padding: 20px; /*prostor oko tabele*/
}
th {
    padding: 8px; /*prostor izmedju celija*/
    background-color: #f2f2f2
}

td {
    padding: 8px; /*prostor izmedju celija*/
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
td {
    background-color: wheat;
}
td:hover {
        background-color: #f2f2f2;
}
input {
    border: none;
    cursor: pointer;
    color: black;
}

    input:hover {
        color: black;
    }