body {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}


a {
    cursor: pointer;
    text-decoration: none;
    color: wheat;
}
a:hover {
        text-decoration: none;
        color: black;
}

.d1 {
    border: 5px solid wheat;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 10px; /*centriranje diva*/
    padding: 20px; /*prostor oko diva*/
}
input {
    background-color: transparent;
    border: none;
    cursor: pointer; /* Pokazivač miša */
    color: wheat;
}

    input:hover {
        color: black;
    }