body {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif; 
    
}

.pic {
    display:flex;
    justify-content:center;
    align-items:center;
    width:200px;
    height:200px;

    border: 5px solid wheat;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 10px; /*centriranje diva*/
    margin-bottom:3%;
}
img {
    border: 5px solid wheat;
}
.change {
    display: flex;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto; /*centriranje diva*/  
}
ul{
    margin: 0 auto;
    list-style:none;
}
a{
    cursor:pointer;
    text-decoration:none;
    color:wheat;
}
a:hover{
    text-decoration:none;
    color:black;
}
input {
    background-color: transparent;
    border:none;
    cursor: pointer; 
    color:wheat;
}
input:hover{
    color:black;
}
h4 {
    color: wheat;
    display:flex;
    justify-content:center;
    align-items:center; 
}
table {
    text-align: center;
    max-width: 800px;
    margin: 0 auto 10px; /*centriranje tabele*/
    border: 5px solid wheat;
    color:black;
    width:100%;
}
th {
    padding: 8px; /*prostor izmedju celija*/
    background-color: #f2f2f2
}
th, td {
    padding: 10px;
    text-align: center;
    border: 1px solid #ddd;
}
.cv {
    background-color: wheat;
}
.cv:hover {
    background-color: #f2f2f2;
    
}



