
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f7fa;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
p {
    color: #333;
    font-size: 24px;
    margin-bottom: 20px;
    font-weight: bold; 
}


form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 900px;
    text-align: center;
    box-sizing: border-box;
 
}

.form-title {
    font-size: 24px;
    font-weight: bold;
    color: #4CAF50;
    margin-bottom: 20px;
    display: block;
}


.form-table {
    width: 60%;
    margin-top:20px;
    margin-left:110px;
}

    .form-table td {
        padding: 10px;
        text-align: left;
    }


input[type="email"],
input[type="password"],
input[type="submit"] {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    margin: 8px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: #f9f9f9;
}

    
    input[type="email"]:focus,
    input[type="password"]:focus {
        border-color: #4CAF50;
        outline: none;
        background-color: #e7f7e7;
    }


.submit-btn {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background-color: white; 
    color: green; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

    .submit-btn:hover {
        background-color: #45a049; 
        color:white;
    }



input::placeholder {
    color: #888;
}


@media (max-width: 600px) {
    form {
        padding: 15px;
    }

    .form-title {
        font-size: 20px;
    }

    input[type="email"],
    input[type="password"],
    .submit-btn {
        font-size: 14px;
        padding: 10px;
    }
}
