body {
    background-color: seagreen;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: sans-serif;
}
p{
    text-align:center;
}
form {
    border: 5px solid wheat;
    text-align: center;
    max-width: 400px;
    margin: 0 auto 10px; /*centriranje forme*/
    padding: 20px; /*prostor oko forme*/
}
table {
    width: 100%; /*sirina tabele unutar forme*/
}

td {
    padding: 8px; /*prostor izmedju celija*/
}

input[type="submit"] {
    display: block;
    width: 100%; /*sirina dugmeta unutar forme*/
    margin: 0 auto; /*centriraj dugme unutar forme*/
}

input[type="submit"]:hover {
    background-color: seagreen;
}
