
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8d7da;
}


.error-container {
    background-color: #ffffff;
    padding: 20px 30px;
    width: 300px;
    text-align: center;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #f5c6cb;
}

   
    .error-container h3 {
        color: #721c24;
        font-size: 22px;
        margin-bottom: 15px;
    }

#error-message {
    color: #721c24;
    font-size: 16px;
    background-color: #f8d7da;
    padding: 15px;
    border-radius: 5px;
}
