<link rel="stylesheet" href="~/CSS/loginform2.css" type="text/css" />
@{
    ViewBag.Title = "LoginPocetna";
}

    <form id="f1" action="~/Authentication/Login" method="post"> <span>Login</span>
        <table>
            <tr id="tr1">
                <td><input type="email" name="email" placeholder="email" /></td>
            </tr>
            <tr>                
                <td><input type="password" name="lozinka" placeholder="password"/></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input id="sbm" type="submit" value="Login" />
                </td>
            </tr>
        </table>
    </form>

   
    <form class="reg" method="post" action="~/Authentication/Register">
        <input id="reg" type="submit" value="Sign up" />
    </form>


