@model Dostava_projekat.Models.Korisnik
<link rel="stylesheet" href="~/CSS/register2.css" type="text/css" />
@{
    ViewBag.Title = "Register";
}

<div class="register-container">
    <h2>Sign up</h2>
    <form action="~/Authentication/RegistracijaKorisnika" method="post">
        @ViewBag.Message
        <div class="input-group">
            <input type="text" name="korisnickoIme" placeholder="Username" required />
        </div>
        <div class="input-group">
            <input type="password" name="lozinka" placeholder="Password" required />
        </div>
        <div class="input-group">
            <input type="password" name="nekalozinka" placeholder="Confirm Password" required />
        </div>
        <div class="input-group">
            <input type="text" name="ime" placeholder="Name" required />
        </div>
        <div class="input-group">
            <input type="text" name="prezime" placeholder="Surname" required />
        </div>
        <div class="input-group">
            <input list="tip" name="tip" placeholder="Role" required />
            <datalist id="tip">
                <option value="Administrator"></option>
                <option value="Dostavljac"></option>
                <option value="Potrosac"></option>
            </datalist>
        </div>
        <div class="input-group">
            <input type="email" name="email" placeholder="Email" required />
        </div>
        <div class="input-group">
            <input type="date" name="DatumRodjenja" placeholder="Date of Birth" required />
        </div>
        <div class="input-group">
            <input type="text" name="Adresa" placeholder="Address" required />
        </div>
        <button id="sbm" type="submit">Sign Up</button>
    </form>
</div>
