<link rel="stylesheet" href="~/CSS/registererror.css" type="text/css" />
@{
    ViewBag.Title = "RegisterError";
}

<div class="error-container">
    <h3>Error</h3>
    <div id="vjubag">@ViewBag.Message</div>
</div>

