@model Dostava_projekat.Models.Korisnik
<link rel="stylesheet" href="~/CSS/register2.css" type="text/css" />
@{
    ViewBag.Title = "Register";
}

<div>
    @ViewBag.Message
</div>

<form action="~/Authentication/RegistracijaKorisnika" method="post"> <span>Sign up</span>
    <table>
        <tr>
            <td>
                <input type="text" name="korisnickoIme" placeholder="user name"
            </td>
        </tr>
        <tr>
            <td>
                <input type="password" name="lozinka" placeholder="password"
            </td>
        </tr>
        <tr>
           <td> <input type="password" name="nekalozinka" placeholder="password" /></td>
        </tr>
        <tr>
            <td>
                <input type="text" name="ime" placeholder="name"
            </td>
        </tr>
        <tr>
            <td>
                <input type="text" name="prezime" placeholder="surname"
            </td>
        </tr>
        <tr>
            <td>
                <input list="tip" name="tip" placeholder="role"/>
                <datalist id="tip">
                    <option value="Administrator"></option>
                    <option value="Dostavljac"></option>
                    <option value="Potrosac"></option>
                </datalist>
            </td>
        </tr>
        <tr>
            <td>
                <input type="email" name="email" placeholder="email"/>
            </td>
        </tr>
        <tr>
            <td> 
            <input type="date" name="DatumRodjenja" placeholder="date of birth" />
            </td>
        </tr>
        <tr>
            <td><input type="text" name="Adresa" placeholder="address"/></td>
        </tr>
        <tr>
            <td>
                <input id="sbm" type="submit" value="sign up" />
            </td>
        </tr>
    </table>

</form>
