<link rel="stylesheet" href="~/CSS/porucivanje2.css" type="text/css" />
@{
    ViewBag.Title = "PoruciJosORGotovo";
}

<div class="d1">
    <a id="a1" href="~/Potrosac/Poruci">Would you like to order anything else?</a>

    <form method="post" action="~/Potrosac/ZavrsiPorudzbinu">
        <input type="submit" value="Complete order?" />
    </form>

</div>

