<link rel="stylesheet" href="~/CSS/porucivanje.css" type="text/css" />
@using Dostava_projekat.Models
@{
    ViewBag.Title = "Poruci";
}

<form method="post" action="~/Potrosac/KreirajPorudzbinu">
    <table>

        <tr>
            <td>
                <input list="p" name="ImeProizvoda" placeholder="select the article" />
                <datalist id="p">

                    @foreach (Proizvod p in @ViewBag.Message)
                    {
                        <option value="@p.ImeProizvoda.ToString()"></option>
                    }

                </datalist>
            </td>
        </tr>

        <tr>
            <td><input type="number" name="Kolicina" placeholder="amount"/></td>
        </tr>


        <tr>
            <td>
                <input list="adresa" name="adresa" placeholder="address"/>
                <datalist id="adresa">
                    
                    <option value="@ViewBag.model.Adresa"></option>

                </datalist>
            </td>
        </tr>

        <tr>
            <td>
                <textarea name="Komentar" placeholder="comment"></textarea>
            </td>
        </tr>
      
        <tr>
           <td>
               
                   <input  type="submit" value="order" />
               
           </td>
        </tr>
         
    </table>
</form>

