<link rel="stylesheet" href="~/CSS/porucivanje.css" type="text/css" />
@using Dostava_projekat.Models
@{
    ViewBag.Title = "Poruci";
}

<form method="post" action="~/Potrosac/KreirajPorudzbinu" class="order-form">
    <h2>Place Your Order</h2>
    <div class="form-group">
        <input list="p" name="ImeProizvoda" placeholder="Select the article" class="form-control" />
        <datalist id="p">
            @foreach (Proizvod p in @ViewBag.Message)
            {
                <option value="@p.ImeProizvoda.ToString()"></option>
            }
        </datalist>
    </div>

    <div class="form-group">
        <input type="number" name="Kolicina" placeholder="Amount" class="form-control" />
    </div>

    <div class="form-group">
        <input list="adresa" name="adresa" placeholder="Address" class="form-control" />
        <datalist id="adresa">
            <option value="@ViewBag.model.Adresa"></option>
        </datalist>
    </div>

    <div class="form-group">
        <textarea name="Komentar" placeholder="Comment" class="form-control"></textarea>
    </div>

    <div class="form-actions">
        <input type="submit" value="Order" class="btn btn-primary" />
    </div>
</form>
