<link rel="stylesheet" href="~/CSS/porucivanje2.css" type="text/css" />
@{
    ViewBag.Title = "PoruciJosORGotovo";
}

<h2>Poruci jos?</h2>

<a id="a1" href="~/Potrosac/Poruci">Poruci jos?</a>

<form method="post" action="~/Potrosac/ZavrsiPorudzbinu">
    <input type="submit" value="Zavrsi porudzbinu?" />
</form>

