<link rel="stylesheet" href="~/CSS/porucivanje2.css" type="text/css" />
@{
    ViewBag.Title = "PoruciJosORGotovo";
}

<div class="order-complete-container">
    <a id="order-again-link" href="~/Potrosac/Poruci">Would you like to order anything else?</a>

    <form method="post" action="~/Potrosac/ZavrsiPorudzbinu" class="complete-order-form">
        <input type="submit" value="Complete order?" class="btn btn-primary" />
    </form>
</div>
