<link rel="stylesheet" href="~/CSS/dodajproizvod.css" type="text/css" />
@{
    ViewBag.Title = "DodajProizvod";
}

<form method="post" action="~/Admin/DodavanjeProizvoda"> <span>Add new article</span>
    <table>

        <tr>
            <td><input type="text" name="ImeProizvoda" placeholder="article name" /></td>
        </tr>
        
        <tr>
            <td><input type="number" name="CenaProizvoda" placeholder="price" /></td>
        </tr>

       
        <tr>
            <td><input type="text" name="Sastojci"  placeholder="ingredients"/></td>
        </tr>
        
        <tr>
            <td>
               
                <input id="sbm" type="submit" value="dodaj" />

            </td>
        </tr>

    </table>
</form>

