<link rel="stylesheet" href="~/CSS/dodajproizvod.css" type="text/css" />
@{
    ViewBag.Title = "DodajProizvod";
}

<form method="post" action="~/Admin/DodavanjeProizvoda">
    <h2>Add New Article</h2>
    <table>
        <tr>
            <td><input type="text" name="ImeProizvoda" placeholder="Article Name" /></td>
        </tr>
        <tr>
            <td><input type="number" name="CenaProizvoda" placeholder="Price" /></td>
        </tr>
        <tr>
            <td><input type="text" name="Sastojci" placeholder="Ingredients" /></td>
        </tr>
        <tr>
            <td>
                <input id="sbm" type="submit" value="Add" />
            </td>
        </tr>
    </table>
</form>
