<link rel="stylesheet" href="~/CSS/proverastatusa.css" type="text/css" />
@{
    ViewBag.Title = "ProveraStatusa";
}


<p>Enter the requested information you provided during registration</p>

<form action="~/Dostavljac/StatusVerifikacije" method="post"> <span>Check status</span>
    <table>
        <tr>
            <td><input type="email" name="email" placeholder="email"/></td>
        </tr>
        <tr>
            <td><input type="password" name="lozinka" placeholder="password" /></td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="check" />
            </td>
        </tr>
    </table>
</form>
